/*nave realted style*/
nav{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0px 200px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.h1{
font-size: 45px;
font-style: normal;
font-weight: 800;
}
.btn{
    border-radius: 5px;
background: #FD6E0A;
border: 0;font-size: 20px;
color: whitesmoke;
font-weight: 700;
padding: 17px 34px;
}
.color{
    color: #FD6E0A;
}
nav > ul {
    display: flex; 
    align-items: center;
}
nav  li {
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: rgb(131, 121, 121);
}
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
.image{
    width: 584px;
height: 676px;
flex-shrink: 0;
}